
      <div class="card mb-5 py-4">
        <div class="card-body">
          <div class="row px-5">
            <form >
              <div class="mb-3 ">
                <label for="firstName" class="form-label">Name</label>
                <input  type="text" class="form-control">
              </div>
              <div class="mb-3 ">
                <label for="lastName" class="form-label">Surname</label>
                <input  type="text"  class="form-control">
              </div>
              <div class="mb-3 ">
                  <label for="creditCartNumber" class="form-label">Card Number</label>
                  <input type="text"   class="form-control">
              </div>
              <div class="mb-3 ">
                  <label for="cvv" class="form-label">CVV : </label>
                  <input  type="text"  class="form-control" >
              </div>
              <button class="btn btn-outline-danger">Complete the payment</button>
            </form> 
           </div>
        </div>
      </div>

