<h4 class="fst-italic fw-lighter text-danger mb-4">CarDetails</h4>

<div class="container">
    <div class="row">

        <div class="col-md-5 col-sm-12">
            <div class="card">
                <h5 class="card-header">Properties</h5>
                <div class="card-body" >
                    <table class="table">
                        <tbody>
                          <tr>
                            <td><strong>Brand</strong></td>
                            <td>{{car.brandName}}</td>
                        </tr>
                        <tr>
                            <td><strong>Color</strong></td>
                            <td>{{car.colorName}}</td>
                        </tr>
                        <tr>
                            <td><strong>ModelYear</strong></td>
                            <td>{{car.modelYear | date:"yyyy"}}</td>
                        </tr>
                        <tr>
                            <td><strong>DailyPrice</strong></td>
                            <td>{{car.dailyPrice}}</td>
                        </tr>
                        <tr>
                            <td><strong>Description</strong></td>
                            <td>{{car.description}}</td>
                        </tr>
                    </tbody>
                    </table>
                  
                </div>
                <a href="#" class="btn btn-danger" routerLink="/cars/rental/{{car.carId}}">Rent</a>
              </div>
        </div>

        <div class="col-md-7 col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">                
                  <div class="carousel-item active" *ngFor="let img of carImages">                
                    <img src="https://localhost:44362/uploads/images/{{img.imagePath}}"class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

    </div>
</div>
