.active
{
    background-color: #DC3545;
    color:white;
    border-color: #DC3545;
}

.form-control:focus 
{
    border-color: slategrey ;
    box-shadow: none;
}

.overflow
{
    overflow-y:auto;
}

.list-group
{
    height: 130px;
}