<div class="shadow-lg p-3 mb-5 bg-body rounded table-responsive">
<table class="table ">
    <thead>
      <tr >
        <th scope="col">RentalId</th>
        <th scope="col">BrandName</th>
        <th scope="col">CustomerName</th>
        <th scope="col">RentDate</th>
        <th scope="col">ReturnDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rental">
        <td>{{rental.rentalId}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.rentDate | date:"dd/MM/y"}}</td>
        <td>{{rental.returnDate | date:"dd/MM/y"}}</td>
      </tr>

    </tbody>
  </table>
</div>