.active
{
    font-weight: bolder;
    text-decoration: underline;
}
.main-nav
{   
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
}
.tab-link
{    
    flex-shrink: 0;
    flex-grow: 1;
}
.nav2
{  
    background-color:#FFFFFF;
    color:#DC3545;
}