<div class="row">

  <div class="col-md-2 col-sm-12">
    <div id="list-example" class="list-group sticky-top">

      <div class="menu">
         <p>
        <a class="list-group-item list-group-item-action"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Brand
        </a>
         </p>     
         <div class="collapse collapse-horizontal mb-4 mt-1" id="collapseWidthExample">
           <app-brand></app-brand>           
         </div>
      </div>

      <div class="menu">
        <p>
       <a class="list-group-item list-group-item-action"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample">
         Color
       </a>
        </p>     
        <div class="collapse collapse-horizontal mb-4 mt-1" id="collapseWidthExample1">                       
            <app-color></app-color>               
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-10 col-sm-12 shadow-lg p-3 mb-5 bg-body rounded table-responsive">
    <table class="table">
      <thead>
        <tr >
          <th scope="col">CarId</th>
          <th scope="col">BrandName</th>
          <th scope="col">ColorName</th>
          <th scope="col">ModelYear</th>
          <th scope="col">DailyPrice</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>{{car.carId}}</td>
          <td>{{car.brandName}}</td>
          <td>{{car.colorName}}</td>
          <td>{{car.modelYear | date:"yyyy"}}</td>
          <td>{{car.dailyPrice | currency}}</td>
          <td>{{car.description | uppercase}}</td>
          <td>
            <button type="button" class="btn btn-danger" routerLink="/cars/cardetail/{{car.carId}}">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
 </div>  


