<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" routerLink="/cars">RentACar</a>
      <form class=" d-flex">
        <button class="btn btn-outline-light me-2" type="button" routerLink="/login">Login</button>
        <button class="btn btn-outline-light me-2" type="button" routerLink="/register">Register</button>
      </form>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form> -->
    </div>  
  </nav>

  <div class="nav2">
    <div class="container">
     <ul class="main-nav">
      <li class="tab-link pt-2" *ngFor="let item of items">
        <a [class]="getCurrentItem(item)" routerLink="/{{item.toLowerCase()}}"  
           (click)="setCurrentItem(item)"  href="#">{{item}}</a>
      </li>
     </ul>
    </div>
    <hr>
  </div>
