<div class="content ">
    <div class="row ">
      <div class="col-8 mx-auto shadow-lg p-3 mb-5 bg-body rounded mt-4">
        <form>
          <div class="mb-3">
            <label for="brandName" class="form-label">BrandName</label>
            <input type="text" class="form-control" id="brandName" >
          </div>
          <div class="mb-3">
            <label for="colorName" class="form-label">ColorName</label>
            <input type="text" class="form-control" id="colorName" >
          </div>
          <div class="mb-3">
            <label for="modelYear" class="form-label">ModelYear</label>
            <input type="text" class="form-control" id="modelYear" >
          </div>
          <div class="mb-3">
            <label for="modelYear" class="form-label">ModelYear</label>
            <input type="text" class="form-control" id="modelYear" >
          </div>
          <div class="mb-3">
            <label for="dailyPrice" class="form-label">DailyPrice</label>
            <input type="text" class="form-control" id="dailyPrice" >
          </div>
          <div class="mb-3">
            <label for="dailyPrice" class="form-label">DailyPrice</label>
            <input type="text" class="form-control" id="dailyPrice" >
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" >
          </div>
          <button type="submit" class="btn btn-danger" routerLink="/carlist">Add</button>
        </form>
      </div>
    </div>
  </div>
